__pycache__/
.*.log
/sdists-repo/
/wheels-repo/
/work-dir*/
/test-venv/
/venv*/
/build/
**/*.egg-info/
/src/fromager/version.py
/.coverage
.coverage.*
/artifacts
/build-logs/
/.pypirc
/.tox/
/node_modules/
/package-lock.json
/package.json
/e2e-output/
/dist/
/e2e/pyo3_test/.cargo
/e2e/pyo3_test/build
/e2e/pyo3_test/dist
/e2e/pyo3_test/target
/e2e/pyo3_test/vendor
/overrides/
/docs/_build/
