[build-system]
requires = ["setuptools>=64", "setuptools_scm>=8"]
build-backend = "setuptools.build_meta"

[project]
name = "fromager"
authors = [
    {name = "Mark McLoughlin", email="markmc@redhat.com"},
    {name = "Doug Hellmann", email="dhellmann@redhat.com"},
]
description = "Wheel maker"
readme = "README.md"
dynamic = ["version"]
license = {file = "LICENSE"}
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Utilities",
]

requires-python = ">=3.10"

dependencies = [
    "click>=8.1.7",
    "html5lib",
    "packaging",
    "pkginfo",
    "PyYAML",
    "pyproject_hooks>=1.0.0,!=1.1.0",
    "python-pypi-mirror",
    "requests",
    "resolvelib",
    "stevedore",
    "toml",
    "virtualenv",
]

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-cov",
    "coverage!=4.4,>=4.0",
]
build = [
    "build",
    "twine",
]

[project.urls]
Repository = "https://github.com/python-wheel-build/fromager"

[project.scripts]
fromager = "fromager.__main__:invoke_main"

[project.entry-points."fromager.project_overrides"]
# This test plugin should stay in the package.
fromager_test = "fromager.example_override"

[tool.setuptools_scm]
version_file = "src/fromager/version.py"

[tool.isort]
known_first_party=["fromager"]
skip_glob=[
  ".tox/*",    # test runner environment
  "work-dir*", # test runner output
  "tox_env",   # CI job venv
]
