click>=8.1.7
elfdeps>=0.2.0
html5lib
packaging
pkginfo
psutil
pydantic
PyGithub
pyproject_hooks>=1.0.0,!=1.1.0
python-pypi-mirror
PyYAML
requests
resolvelib
setuptools>=73.0.0 # https://github.com/pypa/setuptools/issues/4519
stevedore
tomlkit
tqdm
virtualenv
wheel
